<form class="form-signin">
    <h2 class="form-signin-heading">Welcome to the Student Portal.</h2>
    <h4>Currently you are logged in as: <%= current_user.email %></h4>
    <br>
    <br>
    <img src="/images/CodingImage.PNG" class="img-fluid" alt="Responsive image">
</form>
