
<h2 class="form-signin-heading">Jonathan Laroco's Student List Ruby App.</h2>
<h2 class="form-signin-heading"></h2>
<h2 class="form-signin-heading">Please sign in</h2>
<%= render 'form' %>
<br>
<a class="btn btn-info btn-block" href="/accounts/new">Sign Up Now!</a>
