<h2>Please enjoy this video..</h2>
<div align="center" class="embed-responsive embed-responsive-16by9">
    <video autoplay class="embed-responsive-item">
        <source src="/videos/harlemshake.mp4" type="video/mp4">
    </video>
</div>