<form class="form-signin">
    <h2 class="form-signin-heading">Welcome to the Student Portal About Us page</h2>
    <h4>Below are the following features you can do with the ruby application</h4>
    <h4>Currently you are logged in as: <%= current_user.email %></h4>
    <br>
    <br>
    <h2>Authentication</h2>
    <h4>- Ability to Create new login</h4>
    <h4>- Users can log out</h4>
    <h4>- Proper authentication allows the users to add, edit, view and delete data</h4>
    <h2>Students</h2>
    <h4>- Ability to view all students</h4>
    <h4>- Ability to edit students</h4>
    <h4>- Ability to delete students</h4>
    <h4>- Ability to add student comments</h4>
    <h2>Comments</h2>
    <h4>- Ability to view all comments</h4>
    <h4>- Ability to edit comments</h4>
    <h4>- Ability to delete comments</h4>
    <h4>- Ability to add student comments</h4>
    <h2>Video</h2>
    <h4>- Please enjoy the video provided in the video tab.</h4>
    <br>
    <a href="https://github.com/HeyItsJohnny/JCL-Ruby-Student-Portal">Please visit the GitHub repository here</a>
</form>
