<h1>Edit Account Form</h1>
<h2>Here you can edit the Account record.</h2>

<%= render 'form' %>

<p></p>
<%= link_to 'Show', @account, class: 'btn btn-warning btn-block'%>
<p></p>
<a class="btn btn-info btn-block" href="/home">Home Page</a>